.content {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.message-board {
  padding: 20px;

  .form-item {
    display: flex;
    align-items: top;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .form-label {
    width: 60px;
    text-align: right;
  }
}